:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 11px;
  line-height: 24px;
  letter-spacing: -0.02em;

  color-scheme: light dark;
  background-color: #e5e5e5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  &::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
  }
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

body {
  margin: auto;
  padding: 0;
  max-width: 375px;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  min-height: 100vh;
}

.team {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  row-gap: 32px;
  flex-grow: 1;
  padding: 15px;
  background-color: #fafafc;

  &__section {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }

  &__title {
    display: flex;
    align-items: center;
    padding: 0 10px;
    color: #828b97;
  }

  &__list {
    box-shadow: 0px 3px 24px rgba(130, 139, 151, 0.06);
    border-radius: 16px;
    background-color: #fff;
    overflow: hidden;

    &__item {
      position: relative;
      display: grid;
      grid-template-columns: 1fr auto auto;
      grid-template-areas:
        "title isInvite chevron"
        "content content content";
      row-gap: 24px;
      align-items: center;
      padding: 24px 16px 0 16px;
      cursor: pointer;
      transition: all ease 0.3s;

      &:not(:last-child)::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0 16px;
        border: 1px solid #f8f8f9;
      }

      &:not(.active):hover {
        scale: 1.05;
        box-shadow: 0px 3px 24px rgba(130, 139, 151, 0.1);
      }

      &.member {
        color: #3e4959;
      }
      &.invite {
        color: #828b97;
      }

      &__title {
        grid-area: title;
      }

      &__invite-flag {
        margin-left: auto;
        margin-right: 20px;
        padding: 1px 10px;
        border-radius: 24px;
        background-color: #eeeff2;
        color: #3e4959;
        line-height: 20px;
        grid-area: isInvite;
      }

      &__chevron {
        grid-area: chevron;
        transition: all ease 0.3s;
        &.active {
          transform: rotate(90deg);
        }
      }

      &__content {
        grid-area: content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-height: 0;
        opacity: 0;
        transition: all ease 0.3s;

        &.active {
          max-height: 300px;
          margin: 30px 0;
          padding-bottom: 24px;
          opacity: 1;
        }
      }
    }
  }
}

.loading {
  margin: auto;
}
